---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import './about.css';
---

<section id="about" class="about">
	<div class="about__container">
		<div class="about__content">
			<Title margin="1rem" contenido="About me" />
			<p class="about__text">
				Dedicated Full Stack Developer⚡ In daylight I'm probably coding
				bots, playing Halo or doing calisthenics... at night I'm a
				watchman.
			</p>
		</div>
	</div>
</section>
