---
import SocialIcons from '../SocialIcons.astro';
import Title from '../atoms/Title.astro';
import './about.css';
---

<section id="about" class="about">
	<div class="about__container">
		<div class="about__content">
			<Title margin="1rem" contenido="About me" />
			<p class="about__text">
				The one that always remains standing. I challenge myself to do
				what I believe. I love gaming, compiting and materializing cool
				ideas.
			</p>
			<br />
			<p class="about_quote">"Failing is the shortest path to success"</p>
		</div>
	</div>
</section>
